fastapi
ipykernel
langchain
langchain_community
langchain-core
langchain-openai
langchain-weaviate
matplotlib
numpy
pandas
paramiko
python-docx
python-dotenv
scikit-learn
seaborn
torch
torchvision
transformers
weaviate-client
python-multipart